h1{
    background-color: aqua;
    color: blue;
}
h2{
background-color: pink;
    color: blue;
}
h3{
    border: 1px dotted red;
}
.myclass{
    border:2px solid black;
    background-color: yellow;

}
#unique-id{
    background-color: rgb(149, 231, 231);
    border: 3px solid black;
    border-radius: 30px;
    height:300px;
    width:50%;
    text-shadow: 0 0 3px #19545c;
}