h1{
    background-color: aqua;
    color: blue;
}
h2{
background-color: pink;
    color: blue;
}
h3{
    border: 1px dotted red;
}
.myclass{
    border:2px solid black;
    background-color: yellow;

}
#unique-id{
    background-color: teal;
    border: 3px solid black;
    border-radius: 30px;
}